:root {
  --primary-color:#5fbaa7;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

.btn {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

.money-img {
  width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  border: 0;
  font-size: 16px;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.btn:focus, select:focus, input:focus {
  outline: 0;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

@media(max-width:600px){
  .currency input {
    width: 200px;
  }
}